.featureLink {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 8px var(--card-box-shadow);
    transition: all 0.2s ease-in-out;
}

.featureLink:hover {
    text-decoration: none;
    box-shadow: 0 4px 12px var(--card-box-shadow-hover);
    transform: translateY(-2px);
}
